
/**
Start of first Dropdown Menu
*/

@font-face{font-family:handel gothic d;
  font-style:normal;
  font-weight:550;
  src:local('Handel Gothic D'),
  url(./fonts/Handel-Gothic-D/HandelGothic.woff) format('woff')}

:root {
  --font-default: 'nimbus_sans_lregular', sans-serif;
  --font-primary: 'Handel Gothic D', sans-serif;
  --font-secondary: 'nimbus_sans_lregular', sans-serif;
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: rgba(28, 169, 247);
  --color-secondary: #37373f;
}


.navbar ul li div {
	background-color: rgb(255, 255, 255);
}


.pages-side-links .pages-side-link {
	padding: 10px;
	margin: 5px 5px;
	font-size: 15px;
	border-radius: 5px;
	
	
}

.pages-side-link:hover {
	box-shadow: 0 5px 15px 0 rgb(147 161 176 / 25%);
	border-radius: 5px;
	cursor: pointer;
}



.pages-side-link a {
	color: #555a5e;
	
}

.pages-side-link:hover a {
	color: #212529;
}

.dropdown-max-menu div ul li {
	margin:0 auto;

}

.header .navbar .dropdown-max-menu {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    padding: 0;
	width: 100%;
	min-width: 100%;

    border-radius: 0px 0px 3px 3px;
    box-shadow: 0 5px 30px 0 rgb(147 161 176 / 25%);
    padding: 8px;
    top: 60px;
    z-index: 999;
}

.book-demo-nav {
	margin-bottom: 5px;
	padding: 10px;
}

.side-header:hover {
	box-shadow: 0 5px 15px 0 rgb(147 161 176 / 25%);
	border-radius: 8px;
	cursor: pointer;
	
}

.side-header:hover {
	box-shadow: 0 5px 15px 0 rgb(147 161 176 / 25%);
	border-radius: 8px;
	cursor: pointer;
	
}

.side-header:hover .book-demo-nav .contents h2 {
	font-weight: 600;
}
.side-header:hover .book-demo-nav .contents p {
	font-weight: bold;
}


.contents h2 {
	font-size: 21px;
	padding: 2px 10px;
	margin-bottom: 0;
	color: #212529;
	font-family: var(--font-primary);
	
}

.contents p {
	font-size: 13px;
	padding: 2px 10px;
	margin-bottom: 0;
	font-weight: bold;
}

.side-header {
	margin-bottom: 5px;
}




